# Build a Restaurant Recommendation System to recommend similar restaurants to a customer according to the customer’s taste.

![rest.jpeg](attachment:rest.jpeg)

# Objective: -

The goal of this challenge is to build Restaurant Recommendation System to recommend similar restaurants to a customer according to the customer’s taste.

# Dataset: -

This dataset was scraped from the TripAdvisor website and has restaurant data across 20 cities in Washington, Texas, New York, New Jersey, and California


Features: -

1. Name of the Restaurant
2. Street Address
3. Location
4. Type of Cuisine Served
5. Contact Number
6. TripAdvisor Restuarant URL
7. Menu URL

Targets: -

1. Star ratings
2. Total number of people who rated
3. Customer reviews (Comments)

# Step 1: Import all the required libraries

- __Pandas__ : In computer programming, pandas is a software library written for the Python programming language for data manipulation and analysis and storing in a proper way. In particular, it offers data structures and operations for manipulating numerical tables and time series
- __Sklearn__ : Scikit-learn (formerly scikits.learn) is a free software machine learning library for the Python programming language. It features various classification, regression and clustering algorithms including support vector machines, random forests, gradient boosting, k-means and DBSCAN, and is designed to interoperate with the Python numerical and scientific libraries NumPy and SciPy. The library is built upon the SciPy (Scientific Python) that must be installed before you can use scikit-learn.
- __Pickle__ : Python pickle module is used for serializing and de-serializing a Python object structure. Pickling is a way to convert a python object (list, dict, etc.) into a character stream. The idea is that this character stream contains all the information necessary to reconstruct the object in another python script.
- __Seaborn__ : Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.
- __Matplotlib__ : Matplotlib is a plotting library for the Python programming language and its numerical mathematics extension NumPy. It provides an object-oriented API for embedding plots into applications using general-purpose GUI toolkits like Tkinter, wxPython, Qt, or GTK.

In [ ]:
#Loading libraries 
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import sklearn.linear_model 
import sklearn
import pickle
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import scale 
from sklearn.linear_model import LinearRegression, Ridge, RidgeCV, Lasso, LassoCV
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.decomposition import PCA
from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import cosine_similarity
import warnings




warnings.filterwarnings('ignore')

# Step 2 : Read dataset and basic details of dataset
Goal:- In this step we are going to read the dataset, view the dataset and analysis the basic details like total number of rows and columns, what are the column data types and see to need to create new column or not.

In this stage we are going to read our problem dataset and have a look on it.

In [ ]:
#loading the dataset
try:
    df = pd.read_csv('/Users/amitpandey/Downloads/TripAdvisor_RestauarantRecommendation.csv') #Path for the file
    print('Data read done successfully...')
except (FileNotFoundError, IOError):
    print("Wrong file or file path")

Data read done successfully...

In [ ]:
# To view the content inside the dataset we can use the head() method that returns a specified number of rows, string from the top. 
# The head() method returns the first 5 rows if a number is not specified.
df.head()

,Name,Street Address,Location,Type,Reviews,No of Reviews,Comments,Contact Number,Trip_advisor Url,Menu,Price_Range
0,Betty Lou's Seafood and Grill,318 Columbus Ave,"San Francisco, CA 94133-3908","Seafood, Vegetarian Friendly, Vegan Options",4.5 of 5 bubbles,243 reviews,NaN,+1 415-757-0569,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
1,Coach House Diner,55 State Rt 4,"Hackensack, NJ 07601-6337","Diner, American, Vegetarian Friendly",4 of 5 bubbles,84 reviews,"Both times we were there very late, after 11 P...",+1 201-488-4999,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
2,Table Talk Diner,2521 South Rd Ste C,"Poughkeepsie, NY 12601-5476","American, Diner, Vegetarian Friendly",4 of 5 bubbles,256 reviews,Waitress was very friendly but a little pricey...,+1 845-849-2839,https://www.tripadvisor.com//Restaurant_Review...,http://tabletalkdiner.com/menu/breakfast/,$$ - $$$
3,Sixty Vines,3701 Dallas Pkwy,"Plano, TX 75093-7777","American, Wine Bar, Vegetarian Friendly",4.5 of 5 bubbles,235 reviews,Not sure why I went there for the second time....,+1 469-620-8463,https://www.tripadvisor.com//Restaurant_Review...,https://sixtyvines.com/menu/plano-tx/,$$ - $$$
4,The Clam Bar,3914 Brewerton Rd,"Syracuse, NY 13212","American, Bar, Seafood",4 of 5 bubbles,285 reviews,Doesn't look like much from the outside but wa...,+1 315-458-1662,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$

# Step3: Data Preprocessing

**Why need of Data Preprocessing?**

Preprocessing data is an important step for data analysis. The following are some benefits of preprocessing data:

 - It improves accuracy and reliability. Preprocessing data removes missing or inconsistent data values resulting from human or computer error, which can improve the accuracy and quality of a dataset, making it more reliable.
 - It makes data consistent. When collecting data, it's possible to have data duplicates, and discarding them during preprocessing can ensure the data values for analysis are consistent, which helps produce accurate results.
 - It increases the data's algorithm readability. Preprocessing enhances the data's quality and makes it easier for machine learning algorithms to read, use, and interpret it.

After we read the data, we can look at the data using:

In [ ]:
# count the total number of rows and columns.
print ('The train data has {0} rows and {1} columns'.format(df.shape[0],df.shape[1]))

The train data has 3062 rows and 11 columns

#### The df.value_counts() method counts the number of types of values a particular column contains.

In [ ]:
df.shape

(3062, 11)

#### The df.shape method shows the shape of the dataset.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3062 entries, 0 to 3061
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              3062 non-null   object
 1   Street Address    3062 non-null   object
 2   Location          3062 non-null   object
 3   Type              3049 non-null   object
 4   Reviews           3062 non-null   object
 5   No of Reviews     3062 non-null   object
 6   Comments          2447 non-null   object
 7   Contact Number    3062 non-null   object
 8   Trip_advisor Url  3062 non-null   object
 9   Menu              3062 non-null   object
 10  Price_Range       3062 non-null   object
dtypes: object(11)
memory usage: 263.3+ KB

#### The df.info() method prints information about a DataFrame including the index dtype and columns, non-null values and memory usage.

In [ ]:
df.iloc[1]

Name                                                Coach House Diner
Street Address                                          55 State Rt 4
Location                                    Hackensack, NJ 07601-6337
Type                             Diner, American, Vegetarian Friendly
Reviews                                                4 of 5 bubbles
No of Reviews                                              84 reviews
Comments            Both times we were there very late, after 11 P...
Contact Number                                        +1 201-488-4999
Trip_advisor Url    https://www.tripadvisor.com//Restaurant_Review...
Menu                                     Check The Website for a Menu
Price_Range                                                  $$ - $$$
Name: 1, dtype: object

####  df.iloc[ ] is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array. The iloc property gets, or sets, the value(s) of the specified indexes.

### Data Type Check for every column

**Why data type check is required?**

Data type check helps us with understanding what type of variables our dataset contains. It helps us with identifying whether to keep that variable or not. If the dataset contains contiguous data, then only float and integer type variables will be beneficial and if we have to classify any value then categorical variables will be beneficial.

In [ ]:
objects_cols = ['object']
objects_lst = list(df.select_dtypes(include=objects_cols).columns)

In [ ]:
print("Total number of categorical columns are ", len(objects_lst))
print("There names are as follows: ", objects_lst)

Total number of categorical columns are  11
There names are as follows:  ['Name', 'Street Address', 'Location', 'Type', 'Reviews', 'No of Reviews', 'Comments', 'Contact Number', 'Trip_advisor Url', 'Menu', 'Price_Range']

In [ ]:
int64_cols = ['int64']
int64_lst = list(df.select_dtypes(include=int64_cols).columns)

In [ ]:
print("Total number of numerical columns are ", len(int64_lst))
print("There names are as follows: ", int64_lst)

Total number of numerical columns are  0
There names are as follows:  []

In [ ]:
float64_cols = ['float64']
float64_lst = list(df.select_dtypes(include=float64_cols).columns)

In [ ]:
print("Total number of float64 columns are ", len(float64_lst))
print("There name are as follow: ", float64_lst)

Total number of float64 columns are  0
There name are as follow:  []

## Step 2 Insights: -

1) We have total 11 features where all 11 of them are object type.

After this step we have to calculate various evaluation parameters which will help us in cleaning and analysing the data more accurately.

# Step 3: Descriptive Analysis

**Goal/Purpose:**  Finding the data distribution of the features. Visualization helps to understand data and also to explain the data to another person.

Things we are going to do in this step:


1. Null Values
2. NaN Values
3. Count of unique occurences

In [ ]:
df.describe()

,Name,Street Address,Location,Type,Reviews,No of Reviews,Comments,Contact Number,Trip_advisor Url,Menu,Price_Range
count,3062,3062,3062,3049,3062,3062,2447,3062,3062,3062,3062
unique,2641,2814,2653,669,6,811,2291,2850,2886,705,6
top,Texas Roadhouse,3333 Bristol St,"Costa Mesa, CA 92626-1873","Italian, Vegetarian Friendly, Vegan Options",4.5 of 5 bubbles,58 reviews,"The most warn and welcoming environment, Excel...",Not Available,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
freq,13,8,8,137,1956,18,4,19,4,2253,2385

#### The df.describe() method returns description of the data in the DataFrame. If the DataFrame contains numerical data, the description contains these information for each column: count - The number of not-empty values. mean - The average (mean) value.

# 1. **Null Values**

![missing-values.png](attachment:missing-values.png)

A null value in a relational database is used when the value in a column is unknown or missing. A null is neither an empty string (for character or datetime data types) nor a zero value (for numeric data types).

In [ ]:
df.isnull().sum()

Name                  0
Street Address        0
Location              0
Type                 13
Reviews               0
No of Reviews         0
Comments            615
Contact Number        0
Trip_advisor Url      0
Menu                  0
Price_Range           0
dtype: int64

As we notice that there are null values in our dataset.

So the data has some null values in the Type column. I will delete the rows containing null values before moving forward:

In [ ]:

df= df.dropna()

In [ ]:
df.isnull().sum()

Name                0
Street Address      0
Location            0
Type                0
Reviews             0
No of Reviews       0
Comments            0
Contact Number      0
Trip_advisor Url    0
Menu                0
Price_Range         0
dtype: int64

# 2. **Nan Values**

![images.png](attachment:images.png)

NaN, standing for Not a Number, is a member of a numeric data type that can be interpreted as a value that is undefined or unrepresentable, especially in floating-point arithmetic.

In [ ]:
df.isna().sum()

Name                0
Street Address      0
Location            0
Type                0
Reviews             0
No of Reviews       0
Comments            0
Contact Number      0
Trip_advisor Url    0
Menu                0
Price_Range         0
dtype: int64

### As we notice that there are nan values in our dataset.

In [ ]:
# We have many ways to fill Null/Nan Values as below:

* mean -> average value (for numerical)
* mode -> most repeated value (for categorical)

#### Another way to remove null and nan values is to use the method "df.dropna(inplace=True)".

# Count of unique occurences of every value in all categorical value

In [ ]:
for value in objects_lst:
    
    print(f"{value:{10}} {df[value].value_counts()}")

Name       Texas Roadhouse                12
Olive Garden                   12
The Cheesecake Factory         10
The Capital Grille              9
BJ's Restaurant & Brewhouse     7
                               ..
Gola Osteria                    1
Corso 98                        1
Tyee Restaurant and Motel       1
Han Noodle Bar                  1
Porto Leggero                   1
Name: Name, Length: 2101, dtype: int64
Street Address 196 Spring St                            4
69_35 Astoria Boulevard                  4
75 Thompson St                           4
90 Thompson St                           4
2801 Pacific Ave                         4
                                        ..
15600 NE 8th St                          1
14804 NE 24th St                         1
11310 SE Mill Plain Blvd                 1
3303 Bell St                             1
Harborside Financial Center - Plaza 5    1
Name: Street Address, Length: 2231, dtype: int64
Location   Cherry Hill, NJ 08002-2100      5
Freehold, NJ 07728              5
Freehold, NJ 07728-2202         5
East Elmhurst, NY 11370         4
New York City, NY 10013-2810    4
                               ..
Seattle, WA 98102-5025          1
Ithaca, NY 14853-6901           1
Bloomfield, NJ 07003            1
Kennewick, WA 99338-2336        1
Jersey City, NJ 07311           1
Name: Location, Length: 2103, dtype: int64
Type        American, Bar, Pub                              109
 Italian, Pizza, Vegetarian Friendly             108
 Italian, Vegetarian Friendly, Vegan Options     104
 American, Vegetarian Friendly, Vegan Options     94
 American, Bar, Vegetarian Friendly               86
                                                ...
 Diner, Cafe, Vegetarian Friendly                  1
 Southwestern, Latin, Spanish                      1
 Bar, Mexican, American                            1
 Cafe, American, International                     1
 Steakhouse, Italian, Bar                          1
Name: Type, Length: 583, dtype: int64
Reviews    4.5 of 5 bubbles    1516
4 of 5 bubbles       837
5 of 5 bubbles        46
3.5 of 5 bubbles      40
3 of 5 bubbles         1
Name: Reviews, dtype: int64
No of Reviews 58 reviews       18
35 reviews       15
36 reviews       14
64 reviews       14
53 reviews       14
                 ..
2,057 reviews     1
410 reviews       1
482 reviews       1
705 reviews       1
608 reviews       1
Name: No of Reviews, Length: 693, dtype: int64
Comments   Everything is good. The food, the ambiance, the service and the location. The burrata and the octopus are specially good.                                                                                                                                                                                          4
Instead of going for the full tasting menu we came here to enjoy their dessert only tasting menu. Understandably, this is served in the bar rather than in the main dining area. Despite this, the service - of both the food and wine - was...More                                                                4
Both the service and food has improved considerably since I last visited Piccola Cucina Osteria in June 2019. The wait staff was friendly, attentive, and helpful, and the food fresh and delicious. Our dinner was an all around excellent experience and it’s easy to see...More                                 4
A very little restaurant but they provide amazing food and they are the nicest people you will meet. Loved it, would happily come again when in NY!                                                                                                                                                                4
The most warn and welcoming environment, Excellent customer service, The  food was delicious and authentic.If you enjoy great Italian food with wonderful hospitality then this is the place for you.                                                                                                              4
                                                                                                                                                                                                                                                                                                                  ..
We went on a Wednesday, when the special is any burger with unlimited fries for $10.  This is a great deal, as burgers are regularly $15.50 and up.  Also, beer was $4, which made my husband very happy.                                                                                                          1
Great food. Like an old town diner but in a brand new storefront. I had a great omelette and she had a delicious waffle.                                                                                                                                                                                           1
The patio was sensational (with great weather).. the service lacked and the food was decent.  Happy hour pricing is what you want!                                                                                                                                                                                 1
Food was ok. But I’m quite annoyed at the “salad” I ordered. It was just lettuce with one cucumber slice, a tomato chunk and half or even half of a half sliver of onion. Chicken parm was ok but that salad seriously sucked. Step your...More                                                                    1
First time for dinner. 2 couples. Delicious mushroom soup and scallop and salad appetizers. Fish main dishes from the creative menu side prepared in a potato crust were super. Short ribs excellent. Daily special tortellini stuffed with meat was outstanding. Terrific service and frequent checking...More    1
Name: Comments, Length: 2285, dtype: int64
Contact Number Not Available      17
+1 718-721-3532     4
+1 212-327-2800     4
+1 973-925-5600     4
+1 718-204-7070     4
                   ..
+1 914-476-6666     1
+1 718-720-6835     1
+1 469-200-8015     1
+1 509-328-9009     1
+1 201-434-3200     1
Name: Contact Number, Length: 2257, dtype: int64
Trip_advisor Url https://www.tripadvisor.com//Restaurant_Review-g60763-d12425739-Reviews-Piccola_Cucina_Estiatorio-New_York_City_New_York.html    4
https://www.tripadvisor.com//Restaurant_Review-g60763-d2345886-Reviews-Jungsik-New_York_City_New_York.html                       4
https://www.tripadvisor.com//Restaurant_Review-g60763-d4363835-Reviews-Piccola_Cucina_Osteria-New_York_City_New_York.html        4
https://www.tripadvisor.com//Restaurant_Review-g60763-d1731141-Reviews-Piccola_Cucina-New_York_City_New_York.html                4
https://www.tripadvisor.com//Restaurant_Review-g3411624-d7142087-Reviews-Amore_Ristorante-Woodland_Park_New_Jersey.html          4
                                                                                                                                ..
https://www.tripadvisor.com//Restaurant_Review-g46865-d11771550-Reviews-BJ_s_Restaurant_Brewhouse-Teterboro_New_Jersey.html      1
https://www.tripadvisor.com//Restaurant_Review-g55870-d12788029-Reviews-Frisco_Diner-Frisco_Texas.html                           1
https://www.tripadvisor.com//Restaurant_Review-g55870-d512155-Reviews-Gloria_s_Latin_Cuisine-Frisco_Texas.html                   1
https://www.tripadvisor.com//Restaurant_Review-g48922-d2305908-Reviews-Dom_Vinnie_s_Restaurant-Yonkers_New_York.html             1
https://www.tripadvisor.com//Restaurant_Review-g46531-d1119688-Reviews-Porto_Leggero-Jersey_City_New_Jersey.html                 1
Name: Trip_advisor Url, Length: 2285, dtype: int64
Menu       Check The Website for a Menu                     1739
http://www.texasroadhouse.com/menu                 12
http://www.saltgrass.com/menu.asp                   5
http://meijinramen.net/menu                         4
http://www.sancarlonyc.com/menu/                    4
                                                 ...
https://www.facebook.com/ThreePintsPub/menu/        1
http://www.shogunlegacy.com/menu                    1
https://www.micocina.com/menu/                      1
http://www.kingtutmediterranean.com/menu.aspx       1
http://www.maywoodpancakehouse.com/menu.html        1
Name: Menu, Length: 605, dtype: int64
Price_Range $$ - $$$    1905
$$$$         294
$            241
Name: Price_Range, dtype: int64

#### After above step now we gonna make our dataset more readable , easy and cleat to use for model implement purpose.

## We will only choose the Name and the Type column for the rest of the task:

Rest of columns aren't much useful for our dataset. So, we will continue with only Name & Type column for making model

In [ ]:


df = df[['Name', 'Type']]

print(df.head())

                                   Name  \
1                     Coach House Diner
2                      Table Talk Diner
3                           Sixty Vines
4                          The Clam Bar
6  Black Angus Steakhouse - Federal Way

                                       Type
1      Diner, American, Vegetarian Friendly
2      American, Diner, Vegetarian Friendly
3   American, Wine Bar, Vegetarian Friendly
4                    American, Bar, Seafood
6                 American, Steakhouse, Bar

# Step 2: Data Preparation
**Goal:-**

To create an articles recommendation system,Here we will use cosine similarity in machine learning to find similarities between the captions. After finding similarities between the posts, we can recommend them to the user based on the similarities to the post the user just interacted with

#### Tasks we are going to in this step:

1. Impliment cosine similarity algorithm 
2. Make a function for recommending restaurant to customer
3. Run the function

### 1. Impliment cosine similarity algorithm

The type of restaurant is a valuable feature in the data to build a recommendation system. The type column here represents the category of restaurants. For example, if a customer likes vegetarian-friendly restaurants, he will only look at the recommendations if they are vegetarian friendly too. So I will use the Type column as the feature to recommend similar restaurants to the customer:

In [ ]:
# Now we will calculate TF-IDF “Term Frequency — Inverse Data Frequency”

In [ ]:
feature = df["Type"].tolist()

tfidf = text.TfidfVectorizer(input=feature, stop_words="english")

tfidf_matrix = tfidf.fit_transform(feature)

similarity = cosine_similarity(tfidf_matrix)

### 2. Make a function for recommending restaurant to user

Now I will set the name of the restaurant as an index so that we can find similar restaurants by giving the name of the restaurant as an input

In [ ]:


indices = pd.Series(df.index, index=df['Name']).drop_duplicates()

In [ ]:
def restaurant_recommendation(name, similarity = similarity):

    index = indices[name]

    similarity_scores = list(enumerate(similarity[index]))

    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

    similarity_scores = similarity_scores[0:10]

    restaurantindices = [i[0] for i in similarity_scores]

    return df['Name'].iloc[restaurantindices]

### 3. Run the function

In [ ]:
# lets check recommended restaurant based on seletced restaurant by user

print(restaurant_recommendation("Market Grill"))

63                     Bisque Restaurant
90                   Jack's Oyster House
257             Christopher's Restaurant
493                    Truluck's Seafood
514             Duke's Seafood & Chowder
678                       The Fish Friar
886                     Knife & Fork Inn
975                      London Lennie's
1150    Spadafora's Down East Restaurant
1236                    KEE Oyster House
Name: Name, dtype: object

# Insight:-

# Step 4: Save Model
**Goal:- In this step we are going to save our model in pickel format file.**

In [ ]:
import pickle
pickle.dump(df, open('Instagram_recommender_model.pkl', 'wb'))

In [ ]:
import pickle 
pickle.dump(similarity, open("Cosine_IG.pkl", 'wb'))

# Step 5: After making model and checking its accuracy, we are going to deploy it in API/ Web App.

This step holds a great importance as in this step we make a Web API which integrates our model and let it interacts with user.
The user simply put data he is asked to fill and our API will help in predicting.

### There are many methods to create Web Application like Flask, Streamlit, etc. We going to use streamlit to create API. Below is an API refrence.

https://tinyurl.com/bdexnk6v

# Conclusion

After observing the problem statement we have build an efficient model to overcome it. Above model helps in  recommend similar restaurants to a customer according to the customer’s taste.